.DS_Store
KinSDK/KinSDK.xcodeproj/project.xcworkspace/xcuserdata
KinSDK/KinSDK.xcodeproj/xcuserdata

KinSampleApp/KinSampleApp.xcodeproj/project.xcworkspace/xcuserdata
KinSampleApp/KinSampleApp.xcodeproj/xcuserdata

KinSDK/build
KinSDK/Geth.framework
# test related files (ethereum testrpc):

truffle/node_modules
truffle/build

truffle/testrpc.log
truffle/testrpc.pid

truffle/truffle.log
truffle/token-contract-address

npm-debug.log

